.resp{
    background-color: #EEEEEE;
    box-shadow: 5px 5px 5px 5px #333333;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#menu {
   background: linear-gradient(to bottom, #CFE7FA 0%, #6393C1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.bonus {
    color: white;
}

#content {
    background: linear-gradient(to bottom, #AAAAAA 0%, #555555 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

